.container {
    font-family: Arial, sans-serif;
    background-color: #007f5f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
}
  
  .text {
    font-size: 2.5rem;
    color: white;
}